.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.collapse {
  transition-duration: 1000s !important;
}
.dope{
  background-image: url(./assets/counselling.jpg);
  opacity: 0.6;
  position: absolute;
  z-index: -2;
}
.custom-carousal{
  height: 40%;
  
  outline: 2px solid red;
  
}
.formheight{
  height: 140vh;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  color: #444;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.slider {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__image {
  font-size: 2.7rem;
      color: #2196F3;
}
.slider__caption {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.slider__txt {
  color: #999;
  margin-bottom: 3rem;
  max-width: 300px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}
/* Customize the label (the container) */
/* .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* Hide the browser's default radio button */
/* .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
} */

/* Create a custom radio button */
/* .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
} */

/* On mouse-over, add a grey background color */
/* .container:hover input ~ .checkmark {
  background-color: #ccc;
} */

/* When the radio button is checked, add a blue background */
/* .container input:checked ~ .checkmark {
  background-color: #2196F3;
} */

/* Create the indicator (the dot/circle - hidden when not checked) */
/* .checkmark:after {
  content: "";
  position: absolute;
  display: none;
} */

/* Show the indicator (dot/circle) when checked */
/* .container input:checked ~ .checkmark:after {
  display: block;
} */

/* Style the indicator (dot/circle) */
/* .container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
} */



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@media screen and (max-width: 1000px){
.none{
  display: none;
}
.show{
  width: 50%;
}
.view{
  height: 160vh;
}
.buttonget{
  width: 80%;
  /* padding-top: 5%; */
}
.mobile-flex{
  flex-direction: column;
  width: 95%;
  /* margin: auto; */

}
.draw{
  width: 100%;
  margin-top: 6%;
}
.straight{
  width: 80%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  /* text-align: center; */
}
.headtext{
  margin: auto;
  margin-top: 5%;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
.arrow{
  padding-top: 0;
  padding-bottom: 10px;
  /* outline: 2px solid red; */
}
.arr{
  font-size: 40px;
}
.caro{
  outline: 2px solid red;
  width: 100%;
}
.caro-image{
  width: 100px;
}
.custom-carousal{
  width: 40%;
  outline: 2px solid red;
}
.caroimg{
  width: 50%;
  /* height: 60%; */
}

.grid-box{
  display: flex;
  flex-direction: column;
}
.adjust{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  font-size: 16px;
  width: 80%;
  margin-left: 0%;
}
.buttonleft{
  /* margin-left: 0%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  margin-left: 1.8rem;
  font-size: 16px;
  width: 80%;
}
.headleft{
  margin-left: 0%;
  margin-left: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  width: 80%;
}
.formy{
 /* outline: 2px solid red; */
 width: 100%;
}
.contact{
  width: 100%;
}
.frequent{
  width: 100%;
  display: flex;
  justify-content: center;
  /* text-align: center; */
  margin: 0%;
  /* outline: 2px solid red; */
}

.navflex{
  width: 80%;
  margin: auto;
}
.logbold{
  width: 40%;
}
.boldtext{
  font-size: 26px;
  width: 80%;
  margin: auto;
}
.upbutton{
  width: 90%;
}
.formsmall{
  width: 80%;
}
.bone{
  /* width: 90%; */
}











}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
